@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");

@import "tailwindcss";

/* theme change */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-caveat: "Caveat", cursive;
  --font-milonga: "Milonga", serif;

  /* colors */

  --color-brand: #22c55e; /* green-500 */
}
/* Swiper navigation buttons */
/* ============================= */
/* Swiper Navigation Buttons */
/* ============================= */
/* ============================= */
/* Swiper Navigation Buttons */
/* ============================= */

.swiper {
  position: relative;
}
/* Common styles for both buttons */
.swiper-button-next,
.swiper-button-prev {
  width: 28px !important;
  height: 28px !important;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 9999px;
  top: 50% !important;
  transform: translateY(-50%);
  z-index: 20;
}
/* Arrow icon */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 7px !important;
  font-weight: bold;
  color: white;
}

/* Position */
.swiper-button-next {
  right: 10px !important;
}

.swiper-button-prev {
  left: 10px !important;
}

/* ============================= */
/* Swiper Pagination */
/* ============================= */

.swiper-pagination {
  position: absolute;
  bottom: 0px !important;
}

/* Pagination bullets */
.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  background-color: #1e539c;
  opacity: 1;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background-color: #22c55e; /* brand green */
}

/* ============================= */
/* Dark Mode */
/* ============================= */

.dark .swiper-button-next,
.dark .swiper-button-prev {
  background-color: rgba(3, 112, 1, 0.25) !important;
  opacity: 10 !important;
}

.dark .swiper-button-next::after,
.dark .swiper-button-prev::after {
  color: rgb(255, 3, 3) !important;
}

.dark .swiper-pagination-bullet {
  background-color: #34f100;
}

/* input style */

/* Tailwind global styles */
.input {
  @apply px-3 py-2 border rounded outline-none
  border-gray-300 dark:border-slate-600
  bg-white dark:bg-slate-700
  text-gray-900 dark:text-white
  focus:ring-2 focus:ring-blue-500;
}

.file-input {
  @apply block w-full text-sm text-gray-600 dark:text-gray-300
  file:mr-4 file:py-2 file:px-4
  file:rounded file:border-0
  file:bg-sky-600 file:text-white
  hover:file:bg-sky-700 border rounded border-gray-300;
}

.form-label {
  @apply text-sm font-semibold text-gray-700 dark:text-gray-300;
}

/* hide scrolll bar in place ... in category */
/* hide scrollbar for all browsers */
/* .scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* icon in header component */
.icon {
  @apply cursor-pointer text-gray-700 dark:text-white/80 hover:text-emerald-500 transition;
}
